.country-item {
  list-style-type: none;
  border: 1px solid #94a3b8;
  padding: 16px;
  background-color: #1f1f2f;
}
.country-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.country-name {
  font-family: roboto;
  font-size: 20px;
  color: #94a3b8;
  font-weight: 700;
}
.button {
  background-color: #3b82f6;
  outline: none;
  cursor: pointer;
  color: #f8fafc;
  width: 60px;
  height: 30px;
  align-self: center;
  border-radius: 5px;
}
.text {
  font-family: roboto;
  font-size: 20px;
  color: #94a3b8;
}
